# Server
PORT=8000

# Threads (Meta Graph API)
THREADS_APP_ID=
THREADS_APP_SECRET=


THREADS_BOT_USER_ID=
# get from https://developers.facebook.com/apps/1548547056515803/use_cases/customize/settings/?use_case_enum=THREADS_API&selected_tab=settings&product_route=threads-api
THREADS_BOT_ACCESS_TOKEN=
